---
layout: layouts/base.njk
title: Impressum – Dynamiq
description: Impressum von Dynamiq.
robots: noindex
mainClass: legal
sitemap: false
showNavigation: true
---
    <h1>Impressum</h1>
    <p>Angaben gemäss § 5 ECG / § 25 MedienG</p>
    <h2>Medieninhaber und Diensteanbieter</h2>
    <p>Ing. Oliver Jessner, MBA<br>Schlosstraße 13<br>5020 Salzburg<br>Österreich</p>
    <p>E-Mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <h2>Unternehmensdaten</h2>
    <p>Firmenbuchgericht: Salzburg</p>
    <p>FG Werbung und Marktkommunikation<br>
    GISA Zahl: 36667529 <br />

    FG Unternehmensberatung, Buchhaltung und Informationstechn.<br />
    GISA Zahl: 36641918</p>

    <h2>Redaktionelle Verantwortung</h2>
    <p>Oliver Jessner, Anschrift wie oben.</p>


<h2>Haftung für Inhalte</h2>
    <p>Die Inhalte dieser Website wurden mit grösster Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann jedoch keine Gewähr uebernommen werden.</p>

<h2>Haftung für Links</h2>
    <p> Diese Website enthält Links zu externen Websites Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr uebernehmen.</p>

<h2>Urheberrecht</h2>
    <p>Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet.</p>