---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
sitemap: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for localizedHome in homePages %}
  <url><loc>{{ siteUrl }}{{ localizedHome.permalink }}</loc></url>
{% endfor %}
{% for entry in collections.all %}{% if entry.url and entry.data.sitemap != false and entry.url != "/" %}
  <url><loc>{{ siteUrl }}{{ entry.url }}</loc></url>
{% endif %}{% endfor %}
</urlset>
